* {
  font-family: 'Kurale', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ----- Typography ----- */
h1 {
  visibility: hidden;
  line-height: 16px;
  text-align: center;
}

.section__title {
  padding: 4px 24px 0px 24px;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #277234;
}

strong {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #1b1b1b;
}

small {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #526f6d;
}

a {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: underline;
  color: #947100;
}

/* ----- Page structure ----- */
html {
  overflow: hidden;
  height: 100%;
}

.section__float {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  border: 1px solid #947100;
  border-bottom: 0;
  border-radius: 16px 16px 0 0;
  position: absolute;
}

.section__float .section__content {
  padding: 0px 24px 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active .section__title {
  padding: 16px 24px 0px 24px;
  display: inline-block;
  width: 100%;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 24px;
  color: #1b3d21;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

/* ----- Section Home ----- */
#section__home {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section__home .nav__logo {
  position: fixed;
  top: 4px;
  left: 16px;
  z-index: 1000;
  visibility: hidden;
}

#section__home .background__image--top-right {
  z-index: -1;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 240px;
  height: 362px;
  background: url(/casamento/assets/superior-direito-folhas.png);
  background-size: cover;
}

#section__home .background__image--botton-left {
  z-index: -1;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 240px;
  height: 212px;
  background: url(/casamento/assets/inferior-esquerdo-folhas.png);
  background-size: cover;
}

/* ----- Section history ----- */
#section__history {
  top: calc(100% - 96px);
  height: calc(100% - 48px);
  -webkit-transition: top 500ms;
  transition: top 500ms;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

#section__history .section__scroll {
  position: relative;
  padding-left: 24px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section__history .section__scroll ol {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section__history .section__scroll ol li {
  color: #ffffff;
  padding: 16px;
  margin-right: 16px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 325px;
  width: calc(100% - 112px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#section__history .section__scroll ol li:nth-child(1) {
  background-image: url(/casamento/assets/history-01.jpg);
  background-size: cover;
}

#section__history .section__scroll ol li:nth-child(2) {
  background-image: url(/casamento/assets/history-02.jpg);
  background-size: cover;
}

#section__history .section__scroll ol li:nth-child(3) {
  background-image: url(/casamento/assets/history-03.jpg);
  background-size: cover;
}

#section__history .section__scroll ol .scroll-spacing {
  width: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#section__history.active {
  top: 48px;
}

/* ----- Section ceremony ----- */
#section__ceremony {
  top: calc(100% - 64px);
  height: calc(100% - 64px);
  -webkit-transition: top 500ms;
  transition: top 500ms;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

#section__ceremony .ceremony__date {
  display: inline-block;
  width: 225px;
  height: 40px;
  background-image: url(/casamento/assets/date.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
}

#section__ceremony ol {
  list-style-type: none;
}

#section__ceremony.active {
  top: 64px;
}

/* ----- Section blessing ----- */
#section__blessing {
  top: calc(100% - 32px);
  height: calc(100% - 80px);
  -webkit-transition: top 500ms;
  transition: top 500ms;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

#section__blessing .btn {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 24px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 16px 0 0;
}

#section__blessing .btn-primary {
  color: #ffffff;
  background-color: #947100;
  border: 2px solid #947100;
}

#section__blessing .btn-secondary {
  color: #6f5500;
  background-color: #ffffff;
  border: 2px solid #947100;
}

#section__blessing footer {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #947100;
  padding: 16px;
  margin-top: 32px;
}

#section__blessing footer cite {
  font-size: 10px;
  line-height: 24px;
}

#section__blessing.active {
  top: 80px;
}
/*# sourceMappingURL=main.css.map */