$colors: (
    white: #ffffff,
    black: #1b1b1b,
    green-dark: #1b3d21,
    green-light: #277234,
    gray: #526f6d,
    gold: #947100,
    gold-dark: #6f5500,
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

* {
    font-family: 'Kurale', sans-serif;
    box-sizing: border-box;
}

/* ----- Typography ----- */
h1 {
    visibility:hidden;
    line-height: 16px;
    text-align: center;
}

.section__title {
    padding: 4px 24px 0px 24px;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    color: color(green-light);
}

strong {
    display: inline-block;
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: color(black);
}

small {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: color(gray);
}

a {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    color: color(gold);
}

/* ----- Page structure ----- */
html {
    overflow: hidden;
    height: 100%;
}

.section__float {
    width: 100%;
    height: 100vh;
    background-color: color(white);
    border: 1px solid color(gold);
    border-bottom: 0;
    border-radius: 16px 16px 0 0;
    position: absolute;

    .section__content {
        padding: 0px 24px 0px 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }   
}

.active {
    .section__title {
        padding: 16px 24px 0px 24px;
        display: inline-block;
        width: 100%;
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 24px;
        color: color(green-dark);
        transition: all 500ms;
    }
}

/* ----- Section Home ----- */

#section__home {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav__logo {
        position: fixed;
        top: 4px;
        left: 16px;
        z-index: 1000;
        visibility: hidden;
    }

    .background__image--top-right {
        z-index: -1;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 240px;
        height: 362px;
        background: url(/casamento/assets/superior-direito-folhas.png);
        background-size: cover;
    }
    
    .background__image--botton-left {
        z-index: -1;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 240px;
        height: 212px;
        background: url(/casamento/assets/inferior-esquerdo-folhas.png);
        background-size: cover;
    }
}

/* ----- Section history ----- */

#section__history {
    top: calc(100% - 96px);
    height: calc(100% - 48px);
    transition: top 500ms;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    z-index: 1;

    .section__scroll {
        position: relative;
        padding-left: 24px;
        overflow: auto;
        display: flex;

        ol {
            list-style-type: none;
            display: flex;

            li {
                color: color(white);
                padding: 16px;
                margin-right: 16px;
                border-radius: 16px;
                display: flex;
                align-items: flex-end;
                height: 325px;
                width: calc(100% - 112px);
                flex-shrink: 0;
            }

            li:nth-child(1) {
                background-image: url(/casamento/assets/history-01.jpg);
                background-size: cover;
            }

            li:nth-child(2) {
                background-image: url(/casamento/assets/history-02.jpg);
                background-size: cover;
            }

            li:nth-child(3) {
                background-image: url(/casamento/assets/history-03.jpg);
                background-size: cover;
            }
            .scroll-spacing {
                width: 8px;
                flex-shrink: 0;
            }
        }
    }

    &.active {
        top: 48px;    
    }
}

/* ----- Section ceremony ----- */

#section__ceremony {
    top: calc(100% - 64px);
    height: calc(100% - 64px);
    transition: top 500ms;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    z-index: 2;

    .ceremony__date {
        display: inline-block;
        width: 225px;
        height: 40px;
        background-image: url(/casamento/assets/date.svg);
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    ol {
        list-style-type: none;
    }

    &.active {
        top: 64px;    
    }
}

/* ----- Section blessing ----- */

#section__blessing {
    top: calc(100% - 32px);
    height: calc(100% - 80px);
    transition: top 500ms;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 3;

    .btn {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-decoration: none;
        display: block;
        border-radius: 24px;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 16px 0 0;
    }
    
    .btn-primary {
        color: color(white);
        background-color: color(gold);
        border: 2px solid color(gold);
    }
    
    .btn-secondary {
        color: color(gold-dark);
        background-color: color(white);
        border: 2px solid color(gold);
    }
    
    footer {
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-decoration: none;
        color: color(white);
        background-color: color(gold);
        padding: 16px;
        margin-top: 32px;
    
        cite {
            font-size: 10px;
            line-height: 24px;
        }
    }

    &.active {
        top: 80px;    
    }
}