$colors: (
    white: #ffffff,
    black: #1b1b1b,
    green-dark: #1b3d21,
    green-light: #277234,
    gray: #526f6d,
    gold: #947100,
    gold-dark: #6f5500,
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

* {
    font-family: 'Kurale', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

/* ----- Typography ----- */

h2 {
    display: inline-block;
    width: 100%;
    font-size: 32px;
    line-height: 48px;
    color: color(green-dark);
}

strong {
    display: inline-block;
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    color: color(black);
}

small {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: color(gray);
}

a {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    color: color(gold);
}

/* ----- Page structure ----- */

body {
    background-color: color(white);

    .page-background {
        width: 100%;
        height: 100%;
        background-image: url(/casamento/assets/background-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
    }
}

section {
    height: 100vh;

    article {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}

.section-float {
    background-color: color(white);
    border: 1px solid color(gold);
    border-bottom: 0;
    border-radius: 16px 16px 0 0;
    padding: 24px;
}

/* ----- Section Home ----- */

#home {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----- Section History ----- */

#history {

    ol {
        list-style-type: none;
        margin: 0px -8px;

        li {
            color: color(white);
            padding: 16px;
            margin: 8px;
            border-radius: 0px 0px 16px 16px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        }
    }
}

/* ----- Section Ceremony ----- */

#ceremony {

    .date {
        display: inline-block;
        width: 225px;
        height: 40px;
        background-image: url(/casamento/assets/date.svg);
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    ol {
        list-style-type: none;
    }
}

/* ----- Section Blessing ----- */

.btn {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 24px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 16px 0 0;
}

.btn-primary {
    color: color(white);
    background-color: color(gold);
    border: 2px solid color(gold);
}

.btn-secondary {
    color: color(gold-dark);
    background-color: color(white);
    border: 2px solid color(gold);
}

footer {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: color(white);
    background-color: color(gold);
    padding-top: 16px;
    padding-bottom: 16px;

    cite {
        font-size: 10px;
        line-height: 24px;
    }

}

/*
.flex {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    align-items: stretch;
} */